export(IFN2forest)
export(estimateRootingDepth)
export(estimateRootingDepthList)
export(initSpParams)
export(spwb_ldrExploration)
export(spwb_ldrOptimization)
export(spwb_rockOptimization)
export(modifySoilDepth)
export(modifySoilRockContent)
export(redefineSoilLayers)
export(soilgridsParams)
export(translateSpeciesCodes)
export(populateGrowthForm)
export(populateHeightParams)
export(populateTreeDiameterHeightParams)
export(populateTreeAllometries)
export(populateShrubAllometriesFromMedfuels)
export(populateTraits)
export(forest_mapTreeTable)
export(forest_mapShrubTable)
export(forest_mapWoodyTables)

import(methods)
import(medfate)
importFrom("magrittr","%>%")
importFrom("taxize", "classification", "get_gbifid_")
importFrom("httr", "GET", "content")
importFrom("sf", "st_transform", "st_coordinates", "st_geometry")
importFrom("jsonlite","fromJSON")
importFrom("methods", "as")
importFrom("cli", "cli_li")
importFrom("stats", "predict", "quantile", "aggregate", "filter", "nls", "uniroot")
importFrom("utils", "data")
importFrom("dplyr", "bind_rows")
