export(IFN2forest)
export(IFN2forestlist)
export(estimateRootingDepth)
export(estimateRootingDepthList)
export(initSpParams)
export(soilgridsParams)
export(translateIFNSpeciesCodes)
export(populateGrowthForm)
export(populateHeightParams)
export(populateTreeDiameterHeightParams)
export(forest_mapTreeTable)
export(forest_mapShrubTable)
export(forest_mapWoodyTables)
export(populateTreeAllometries)

import(methods)
import(medfate)
importFrom("taxize", "classification", "get_gbifid_")
importFrom("httr", "GET", "content")
importFrom("sp", "spTransform")
importFrom("jsonlite","fromJSON")
importFrom("methods", "as")
importFrom("stats", "predict", "quantile")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar")
